.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  transition: background-color 0.25s ease-in-out;
}

.drag-drop-app{
  border: 2px dashed white;
  width: 500px;
  height: 250px;
}
