.home-page {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.home-page-image-div {
    justify-self: start;
}

.home-page-image {
    margin-top: 20vh;
    width: 500px;
    height: auto;
    left: 506px;
}

.home-page-buttons {
    margin-top: 5%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 130px;
}

.home-page-error {
    color: var(--background-error)
}

.step-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.step-2-title {
    margin-top: auto;
    font-size: 35px;
}

.hidden-file-input {
    display: none;
}

.file-upload-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 850px;
}

.file-name {
    width: auto;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.3rem;
    background-color: var(--secondary-background-color);
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.regular-page {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    user-select: none;
}

/* PARA MOSTRAR LA IMAGEN, DESPUES BORRAR */
.stage-step5 {
    overflow: auto;
    width: 100%;
    height: 100%;
}

.step5-overflow {
    overflow-x: scroll;
}


@media screen and (max-width: 1300px) {
    .step-3 {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .file-upload-container {
        width: 400px;
        transition: ease 0.9s;
    }
}

.type-footage-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.footage-button-container{
    padding-top: 30px;
    padding-bottom: 20px;

    width: 250px;
    height: 200px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;


    border-radius: 20px;
    border: 0.1px solid gray;
    transition: transform 0.3s ease, border-color 0.1s ease;
}

.footage-button-container:hover {
    border-color: white;
    transform: scale(1.1);
}

.selected-footage-type{
    border-color: white;
    transform: scale(1.1);
}

.drag-over-ipcam{
    border-color: white;
}

.drag-over-uav{
    border-color: white;
}

.drag-over-oblique{
    border-color: white;
}

.browse-video-container {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease;
  pointer-events: none;
  width: 100%;
}

.browse-video-container.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  width: 100%;
}

.browse-video-header {
    margin-top: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 12px;
}

.browse-video-header p:first-child {
    font-size: 1.4rem;
    font-weight: 600;
}

.browse-video-header p:last-child {
    cursor: pointer;
    color: var(--primary-color);
    text-decoration: underline;
}

.browse-video-drop-area {
    width: 100%;
    height: 200px;

    border: 1px dashed gray;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: transform 0.3s ease;
}

.browse-video-drop-area.drag-over{
    transform: scale(1.05);
}

.browse-video-drop-area p {
    font-size: 1.3rem;
    font-weight: 600;
    color: gray;
    margin-bottom: 15px;
}
